<!doctype html>
<html>
	<head>
		<title>Portfolio Jens Van der Auwera</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
			<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
		       <ul class="pure-menu-list" class="js-nav">
		           <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
		           <li class="pure-menu-item"><a href="#me" class="pure-menu-link">About</a></li>
		           <li class="pure-menu-item"><a href="#previous" class="pure-menu-link">Portfolio</a></li>
		           <li class="pure-menu-item"><a href="#footer" class="pure-menu-link">Contact</a></li>
		        </ul>
		    </div>
		</header>
		<div id="quote" class="pure-u-1">
					<h1>Creativity is intelligence having fun.</h1>
		</div>

       <div class="pure-g">

			<div class="pure-u-1" id="me">
        <h3> Little intro </h3>
        <div class="light"></div>
        <p class="about">Welcome, my name is Jens Van der Auwera, Student Web Designer & Developer based in Antwerp. Package? HTML5, CSS3, JavaScript, Adobe CC. <br> I am a Car enthousiast, apple fan and automotive vlogger for <a href="https://www.youtube.com/channel/UCgcm-5zg72zATlCTDdciuTQ">RCA</a>.
            If you have a question, you just need to <a class="js-connect" href="#footer">ask...</a> I Don't bite.</p>
      </div>

			<div class="pure-u-1" id="previous">
			        <h3> What I do</h3>
			        <div class="light"></div>
			        <div class="kader">
			        <img src="https://s-media-cache-ak0.pinimg.com/originals/5b/3a/bd/5b3abd0f9242c5951978056f0ea91661.png" alt="work" id="work">
			      <img src="https://s-media-cache-ak0.pinimg.com/originals/8b/d6/49/8bd649c1cddf710d980d64270df18080.png" alt="work" id="work">
			      <img src="https://s-media-cache-ak0.pinimg.com/564x/15/1c/af/151caf760f1cd4e193801bc5705c9924.jpg" alt="work" id="work">
			        </div>
			        <div class="kader">
			          <img src="https://s-media-cache-ak0.pinimg.com/564x/95/f4/ea/95f4ea1f206c8b119917acdda8383240.jpg" alt="work" id="work">
			          <img src="https://s-media-cache-ak0.pinimg.com/564x/c3/f2/39/c3f239089c3622f16727e57214e06263.jpg" alt="work" id="work">
			          <img src="https://s-media-cache-ak0.pinimg.com/564x/64/76/9a/64769a48591a4ee863f162b85d582d82.jpg" alt="work" id="work">
			        </div>
			        <div class="kader">
			          <img src="https://s-media-cache-ak0.pinimg.com/564x/7b/2b/da/7b2bda7b6096520c31d12155b230bba0.jpg" alt="work" id="work">
			          <img src="https://s-media-cache-ak0.pinimg.com/564x/35/9f/a4/359fa494c53ed1d3f1abd8171ee48675.jpg" alt="work" id="work">
			          <img src="https://s-media-cache-ak0.pinimg.com/originals/1a/e1/d4/1ae1d48d20ec0ab3caf020287b9d8fa1.png" alt="work" id="work">
			        </div>
			      </div>

      </div>
			<div class="pure-u-1" id="hire">
        <h3 class="M"> Just ask </h3>
        <div class="light"></div>
        <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <input id="name" type="text" placeholder="Jens Van der Auwera">
            </div>

            <div class="pure-control-group">
                <input id="password" type="password" placeholder="jensvanderauwera@student.ap.be">
            </div>

            <div class="pure-control-group">
                <input id="foo" type="text">
            </div>

                <button type="submit" class="pure-button pure-button-primary">Ask</button>
            </fieldset></form></div>




      </div>




	     <script src="assets/javascripts/application.js"></script>

			 <footer id="footer">
		<div class="container">
			<ul>
				<li>
					<a href="https://www.facebook.com/jens.vanderauwera" class="fa fa-facebook"></a>
				</li>
				<li>
					<a href="https://twitter.com/Jensvdauwera" class="fa fa-twitter"></a>
				</li>
				<li>
					<a href="https://www.instagram.com/jensvdau/" class="fa fa-instagram"></a>
				</li>
				<li>
					<a href="https://github.com/jensvda" class="fa fa-github"></a>
				</li>
				<li>
					<a href="http://codepen.io/Jensvda/" class="fa fa-codepen"></a>
				</li>
				<li>
					<a href="https://www.pinterest.com/jensvda07/" class="fa fa-pinterest"></a>
				</li>
				<li>
					<a href="jens.vda@live.be" class="fa fa-envelope"></a>
				</li>
			</ul>
		</div>
	</footer>
	</body>
</html>
